<!-- Fixed Back Button -->
<%= render partial: "./components/fixed_back_button", locals: { path: root_path, label: "home" }%>

<div class="banner" style="background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.2)), url('<%= image_path 'background-mountain.jpg'%>');">
  <div class="container">
    <div class="title pt-5 text-center">
      <h1>About</h1>
    </div>
    <div class="row spacer-above">
    </div>
    <div>
      <h1>I create digital solutions for <strong>you</strong></h1>
    </div>
    <div class="row spacer-below">
    </div>
  </div>
</div>
<div style="background-color: black; color: white;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3"></div>
      <div class="col-12 col-md-6">
        <h1 class="pt-5">About</h1>
        <p style="font-size: 1.25em;">Lorem ipsum dolor</p>
        <p class="pb-5">Lorem ipsum dolor blabla</p>
      </div>
      <div class="col-12 col-md-3"></div>
    </div>
  </div>
</div>
