<!-- Fixed Back Button -->
<%= render partial: "./components/fixed_back_button", locals: { path: root_path, label: "home" }%>

<div class="banner" style="background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.2)), url('<%= image_path 'background-mountain.jpg'%>');">
  <div class="container">
    <div class="title pt-5 text-center">
      <h1>Contact</h1>
    </div>
    <div class="row spacer-above">
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>Get in <strong>Touch</strong></h1>
      </div>
      <div class="col-12 col-md-6">
        <h4><strong>Email me :</strong></h4>
        <h4>nathaniel.santosa@gmail.com</h4>
        <div style="height: 10%;"></div>
        <h4><strong>Connect with me :</strong></h4>
        <h4>linkedin</h4>
        <h4>Github</h4>
      </div>
    </div>
    <div class="row spacer-below">
    </div>
  </div>
</div>
