// Fixed back button
.fixed-back-button {
  z-index: 100;
  transform: rotate(-90deg);
  position: fixed;
  top: 10vh;
  left: 85vw;
  a {
    color: $black;
    transition: all 0.5s;
    &:hover {
      color: red
    }
  }
}
